<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<script src="./vue.js"></script>
	<script src="./axios.min.js"></script>

	<title>My TODO App</title>

	<style>
span.completed {
	text-decoration: line-through;
}
body {
	font-family: Open Sans, Arial;
	color: #454545;
	margin: 40px auto;
	max-width: 600px;
	font-size: 18px;
	padding: 0 10px;
}
.todo_list_container {
	display: flex;
	flex-direction: column;
}
.todo_list_item {
	flex: 0 1 auto;
}
.todo_list_item_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.todo_list_item_item {
	word-wrap: break-word;
	flex: 0 1 auto;
}
.todo_input_container {
	margin: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.todo_input_textbox {
	width: 100%;
}
.todo_input_button {
	padding: 0px 4px 0px 4px;
	border: 5px 10px 5px 10px;
}
.extra_todo_info {
	display: flex;
	font-size: small;
	justify-content: space-between;
}
.extra_todo_item {
	flex: 0 1 auto;
}
	</style>

	</head>

  <body>
    <div id="root">
      <h1>My TODO App</h1>
			<div id="app">
				<div class="todo_input_container">
					<input class="todo_input_textbox" v-model="new_todo.item">
					<button class="todo_input_button" v-on:click="addTodoItem">Add TODO Item</button>
				</div>
				<div class="todo_list_container">
					<todo-item
						v-for="todo in orderedTodos"
						v-bind:todo="todo"
						v-bind:key="todo.id"
						v-bind:first="todo.id != orderedTodos[0].id"
						v-on:delete-todo-item="deleteTodoItem($event)"
						v-on:complete-todo-item="toggleCompleteTodoItem($event)"
						></todo-item>
				</div>
			</div>
		</div>
    <script>
			Vue.component('todo-item', {
				props: ['todo', 'first'],
				template:`
				<div>
					<hr v-if="first">
					<div class="todo_list_item"> <div class="todo_list_item_container">
						<div class="todo_list_item_item"> <span v-bind:class="{completed: todo.completed}">{{ todo.item }}</span></div>
						<div class="todo_list_item_item">
							<button v-if="todo.completed" v-on:click="$emit('complete-todo-item', todo.id)">Un-complete</button>
							<button v-else v-on:click="$emit('complete-todo-item', todo.id)">Complete</button>
							<button v-on:click="$emit('delete-todo-item', todo.id)">Delete</button>
						</div>
					</div> </div>
					<div class="extra_todo_info">
						<div class="created_on extra_todo_item"><b>Created:</b> {{todo.date_created}}</div>
						<div class="completed_on extra_todo_item" v-if="todo.completed && todo.date_completed"><b>Completed:</b> {{todo.date_completed}}</div>
					</div>
				</div>
				`
			})
			/* taken from:
				https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_sortby-and-_orderby
			*/
			const sortBy = (key) => {
				return (a, b) => (a[key] > b[key]) ? 1 : ((b[key] > a[key]) ? -1 : 0);
			};
      const App = new Vue({
        el: '#app',
				data: {
					new_todo: { item: null },
					todos: []
        },
				computed: {
					orderedTodos: function() {
						return this.todos.concat().sort(sortBy("order"));
					}
				},
				methods: {
					addTodoItem: function () {
						var vm = this;
						axios({
							method: 'post',
							url: './api',
							data: this.new_todo
						})
						.then(function (response) {
							vm.$set(vm.new_todo, 'item', null);
							vm.getTodoItems();
						});
					},
					deleteTodoItem: function (todo_id) {
						var vm = this;
						axios({
							method: 'delete',
							url: './api/'.concat(todo_id),
						})
						.then(function (response) {
							console.log(response);
							vm.getTodoItems();
						});;
					},
					getTodoItems: function () {
						var vm = this;
						axios({
							method: 'get',
							url: './api/all'
						})
						.then(function (response) {
							vm.$set(vm, 'todos', response.data);
						});
					},
					toggleCompleteTodoItem: function(todo_id) {
						var vm = this;
						var i = 0;
						for (i; i < vm.todos.length; i++) {
							if (vm.todos[i].id === todo_id) {
								break
							}
						}
						vm.todos[i].completed = !vm.todos[i].completed;
						console.log(vm.todos[i])
						axios({
							method: 'put',
							url: './api/'.concat(todo_id),
							data: vm.todos[i]
						})
						.then(function (response) {
							vm.getTodoItems();
						})
					}
			  },
				created() {
					this.getTodoItems();
				},
      })
    </script>
  </body>
</html>
